<!DOCTYPE html>
<html>
	<head>
		<title>Address Book</title>
		<link rel="stylesheet" type="text/css" href="../../css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id='cssmenu'>
			<ul>
			   <li id="home" class='active'><a id="home_logo" href='/clients'><img src="../img/healthcard-logo-dribbble.png" alt=""></a></li>
			   <li id="add_client"><a href='/clients/new'><span>Add Client</span></a></li>
			</ul>
		</div>

		<div class="client_body">
			<h3>About the Project</h3>
			<div id="about_proj">
				<p>
					This is a project  for UNC JOMC 583. The purpose of the project is the help exercise what we have learned about Node.js, Express.js, and MongoDB.
				</p>
				<p>
					For my project, I chose to build an Address Book application to help a client keep track of contact information. 
					I created different routes and different templates that would render based on the route. 
					The user can create, update, and delete new client contact information.
				</p>
			</div>
			<h3>Navigation</h3>
			<div id="nav_proj">
				<p>
					The user can click on the Company Logo on the top left corner to return to the Home page. 
					<br>
					The user can click on the "Add Client" link on the top right corner to go to the Add Client Form.
					<br>
					Clicking the red "X" on a client card will delete the client information.
					<br>
					Clicking on the client card will go to the View Client Page.
					<br>
					From the View Client Page, the user can click on the "Edit Client" link to go to the Edit Client Form.
				</p>
			</div>
		</div>

	</body>
</html>
