<!DOCTYPE html>
<html>
	<head>
		<title>Address Book</title>

		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
		<script src="../js/script.js"></script>

	</head>	
	<body>
		<div id='cssmenu'>
			<ul>
			   <li id="home" class='active'><a id="home_logo" href='/clients'><img src="../img/healthcard-logo-dribbble.png" alt=""></a></li>
			   <li id="add_client"><a href='/clients/new'><span>Add Client</span></a></li>
			</ul>
		</div>
		
		<form class="form-container" method="POST" action="/clients">
			<div class="form-title form-heading">
				<h1>Add New Client</h1>
			</div>
				<div class="form-title">
					<label for="first_name">First Name:</label>
				</div>
				<input required class="form-field" type="text" name="first_name" value="">
			
			
				<div class="form-title">
					<label for="last_name">Last Name: </label>
				</div>
				<input required class="form-field" type="text" name="last_name" value="">
			
			
				<div class="form-title">
					<label for="job_title">Job Title: </label>
				</div>
				<input required class="form-field" type="text" name="job_title" value="">
			
			
				<div class="form-title">
					<label for="street_addr">Street Address: </label>
				</div>
				<input class="form-field" type="text" name="street_addr" value="">
			
			
				<div class="form-title">
					<label for="city">City: </label>
				</div>
				<input class="form-field" type="text" name="city" value="">
			
			
				<div class="form-title">
					<label for="state">State: </label>
				</div>
				<input class="form-field" type="text" name="state" value="">
			
			
				<div class="form-title">
					<label for="zip">Zip: </label>
				</div>
				<input class="form-field" type="text" name="zip" value="">
			
			
				<div class="form-title">
					<label for="notes">Notes: </label>
				</div>
				<input class="form-field" type="text" name="notes" value="">
			

			<div class="submit-container">
				<button class="submit-button">Create Client</button>
			</div>
		</form>
	</body>

</html>